.navbar {
    background-color: #EBEDF2 ;
    padding: 20px 0px 20px 00px;
  }
  
  .navbar-brand {
    text-decoration: none !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #2E2752;
    font-size: 2rem;
    transition: 0.3s;
  }
  
  .navbar-brand:hover{
    color:#5A33E4;
  }

  .nav-item{
      padding-left:12px;
  }

  .nav-link{
      color: #2E2752;
      transition: 0.3s;
  }

  .nav-link:hover{
      color:#5A33E4;
  }